.canton{
    fill: lightblue; /* Hintergrund der Karte */
    stroke: #333; /* Kantonslininen */
    stroke-width: 0.5; /* Grösse der Lininen */
    vector-effect: non-scaling-stroke; /* Kantonslinien werden nicht grösser beim Zoom */
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}