body {
    margin: 0;
}

#map {
    z-index: 0;
    width: 100%;
    height: 100%;
}

#mainContainer {
    padding: 0px;
}

#legend {
    position: absolute;
    bottom: 2em;
    left: 1em; /* Same as #opennav, looks nicer */
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
    font-size: 1.2em; /* A bit smaller than nav-text and title-text */
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.6);
}

.legendheading {
    position: relative;
    height: 25px;
    padding: 5px 2px 0px 2px;
    font-size: larger;
    font-weight: bold;
}

.legenditem {
    padding: 2px;
    margin-bottom: 2px;
}

/*Marker clusters*/
.marker-cluster-pie g.arc {
    fill-opacity: 0.5;
}

.marker-cluster-pie-label {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

/*Markers*/
.marker {
    width: 18px;
    height: 18px;
    border-width: 2px;
    border-radius: 10px;
    margin-top: -10px;
    margin-left: -10px;
    border-style: solid;
    fill: #CCC;
    stroke: #444;
    background: #CCC;
    border-color: #444;
}

.marker div {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

/*marker categories*/
.category-1 {
    fill: #F88;
    stroke: #800;
    background: #F88;
    border-color: #800;
}

.category-2 {
    fill: #FA0;
    stroke: #B60;
    background: #FA0;
    border-color: #B60;
}

.category-3 {
    fill: #FF3;
    stroke: #D80;
    background: #FF3;
    border-color: #D80;
}

.category-4 {
    fill: #BFB;
    stroke: #070;
    background: #BFB;
    border-color: #070;
}

.category-5 {
    fill: #9DF;
    stroke: #007;
    background: #9DF;
    border-color: #007;
}

.category-6 {
    fill: #CCC;
    stroke: #444;
    background: #CCC;
    border-color: #444;
}

/*marker icons*/
.icon-1 {
    background-image: url('running-16.png');
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.icon-2 {
    background-image: url('bicycle-16.png');
    background-repeat: no-repeat;
    background-position: 1px 0px;
}

.icon-3 {
    background-image: url('motorcycle-16.png');
    background-repeat: no-repeat;
    background-position: 1px 0px;
}

.icon-4 {
    background-image: url('car-16.png');
    background-repeat: no-repeat;
    background-position: 1px 0px;
}

/*Popup*/
.map-popup span.heading {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}

.map-popup span.attribute {
    display: block;
}

.map-popup span.label {
    font-weight: bold;
}

/* Sidebar */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 400px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Stay on top */
    top: 0;
    right: -400px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenavTextarea {
    padding: 8px 8px 8px 32px;
    color: #c8c8c8;
    font-size: 1.2em;
    font-style: normal;
}

#sidenavTitle {
    font-size: 1.8em;
    padding-bottom: 1em;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

#opennav {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Title */
#title {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    font-family: Sans sans-serif;
    position: absolute;
    left: 50%;
    top: 20px;
    color: white;
    font-size: 2em;
    opacity: 0;
}

#titlediv {
    position: relative;
    left: -50%;
    padding: 1em;
    background: rgba(0, 0, 0, 0.66);
    border-radius: 0.5em;
}

#closetitle {
    position: absolute;
    top: 0.1em;
    right: 0.5em;
    cursor: pointer;
    font-size: 2em
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}

/*Popup*/
.map-popup {
    margin: 0.5em;
}

.map-popup span.heading {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}

.map-popup span.attribute {
    display: block;
}

.map-popup span.label {
    font-weight: bold;
}

/* Bar chart */
.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}